.body {
    
}


.top {
    display: flex;
    justify-content: space-between;
    border: black solid 2px ;
    align-items: center;

}

.botonera {
    text-transform: uppercase;
    font-style: bold;
    display: flex;
    list-style: none;
}
.botonera li {
    padding: 10px;
    
}
.info {
    border: black solid 2px;
    display: flex;
    background-color: grey;

}
.empresa {
    width: 50%;
    margin: 5px;
    padding: 5px;
    border: white 1px solid;

}
h2 {
    text-align: center;
}
.postventa {
    width: 50%;
    margin: 5px;
    padding: 5px;
    border: white 1px solid;
}
.pie {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px;

}
.pie img {
    height: 220px;
    width: 220px;
}
